* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: grid;
  grid-template-areas:
    "box1"
    "box2"
    "footer";
}
.box1 {
  width: 100%;
  height: 10rem;
  grid-area: box1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header {
  background-repeat: no-repeat;
}
.flex1 {
  width: 20%;
  height: 10rem;
  display: flex;
  flex-direction: column;
}
.button {
  background-color: #ff6c00;
  color: white;
  border: 2px solid;
  padding: 5px;
  font-size: 2rem;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 25%;
  width: 50%;
}
.flex2 {
  width: 10%;
  height: 10rem;
}
.logo {
  background-color: transparent;
}
.flex3 {
  width: 50%;
  height: 10rem;
  display: flex;
  align-items: center;
}
.order {
  width: 90%;
  height: 8rem;
  justify-content: center;
  background-color: #ff6c00;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.sted {
}
.uke {
}
.kurs {
}
.send {
}
.box2 {
  width: 100%;
  height: 60rem;
  grid-area: box2;
  display: flex;
  flex-direction: row;
}
.ContainerOne {
  width: 40%;
  height: 60rem;
  background-color: blue;
}
.filler {
}
.ContainerTwo {
  width: 60%;
  height: 60rem;

  position: relative;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
